.gothic-text {
    font-family: 'Cloister Black', serif;  
    font-weight: 800;
    font-size: 6rem;
    letter-spacing: 1.5rem;  
    line-height: 1.5;
    color: #333;
}

.button {
    padding: 1.5rem 5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: #ce9f8e;
    color: white;
     margin-top: 15rem;
}

body {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(135deg, #FFCCE5, #A3CFF7); 
     background: linear-gradient(45deg, #FF6A00, #FF00B3, #00BFFF, #00FF7F);
     animation: gradientAnimation 10s ease infinite; /* Animation du dégradé */
     background-size: 400% 400%; /* Taille du dégradé pour le rendre plus large */
  }

  /* Animation du dégradé de fond */
  @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }}

 .Pomodoro {
     
    font-size: 6rem;
    margin-bottom: 12rem;
    letter-spacing: 1.5rem;  
    display: flex;
    justify-content: center;
}

 .button-container {
    display: flex;
    gap: 4rem;  
    justify-content: center;
    margin-top: 2rem;
}

 
.button:hover {
    background: #ac6356;
}

.pomodoro-container {
    padding-top:5rem;
    text-align: center;
    padding: 6rem;
    background-color: #f4f4f4;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);    
 }

 .buttonInfo
 {
     color: #571c11;  
     text-align: center;  
     text-decoration: none;  
     font-style: italic;  
     display: block;  
     margin-top: 5rem;  
     cursor: pointer;  
     transition: color 0.3s ease;
     font-size:2rem;  
 }


 